{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  hodur/engine        {:mvn/version "0.1.4"}
  camel-snake-kebab   {:mvn/version "0.4.0"}
  datascript          {:mvn/version "0.16.7"}
  cheshire            {:mvn/version "5.8.1"}}

 :aliases
 {:dev
  {:extra-paths ["test/resources"]
   :extra-deps
   {}}

  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-189"}}
   :main-opts ["-m" "kaocha.runner"]}}}
