[^:contentful/tag
 default

 ^{:doc "Reference documentation"
   :contentful/display-name "Reference Entity"}
 Reference
 [^{:type String
    :doc "Field documentation"
    :contentful/display-name "My Short Text Field"
    :contentful/display-field true}
  short-text-field

  ^{:type String}
  default-name-short-text-field

  ^{:type String
    :cardinality [0 n]}
  many-short-texts-field
  
  ^{:type String
    :contentful/widget-id "slugEditor"}
  short-text-widget-field

  ^{:contentful/type "Text"}
  long-text-field

  ^{:type AUnion}
  a-single-union

  ^{:type AUnion
    :cardinality [0 n]}
  many-unions

  ^{:type Integer
    :contentful/stars 10}
  stars-field

  ^{:type Boolean
    :contentful/true-label "Si!"
    :contentful/false-label "No!"}
  si-o-no-field

  ^{:type DateTime
    :contentful/format "dateonly"}
  date-only-field
  
  ^{:type DateTime
    :contentful/format "time"}
  time-field

  ^{:type DateTime
    :contentful/format "timeZ"}
  full-date-time-field

  ^{:type DateTime
    :contentful/ampm "12"}
  american-style-time-field

  ^{:type String
    :optional true
    :contentful/type "Location"}
  optional-location-field]

 OtherEntity
 [^DateTime
  a-date-time

  ^{:type String
    :contentful/widget-id "slug"
    :contentful/display-field true}
  just-for-show]

 StillAnotherEntity
 [^{:type Reference}
  a-single-reference

  ^{:type Reference
    :cardinality [0 n]}
  many-references]

 ^:union
 AUnion
 [OtherEntity StillAnotherEntity]

 ValidationEntity
 [^{:type String
    :contentful/validations [{:in ["iOS" "Android"]}]}
  platform-field

  ^{:type Integer
    :contentful/validations [{:range {:min 5
                                      :max 15}
                              :message "Must be between 5 and 15"}]}
  range-field

  ^{:type String
    :contentful/validations [{:regexp {:pattern "^such"
                                       :flags "im"}}]}
  regexp-field

  ^{:type String
    :contentful/validations [{:unique true}]}
  unique-field

  ^{:type DateTime
    :contentful/validations [{:date-range {:min "2017-05-01"
                                           :max "2020-05-01"}}]}
  date-range-field

  ^{:type String
    :contentful/type "RichText"
    :contentful/validations [{:enabled-node-types ["heading-1"
                                                   "quote"
                                                   "embedded-entry-block"]}]}
  enabled-node-types-field

  ^{:type String
    :contentful/type "RichText"
    :contentful/validations [{:enabled-marks ["bold" "italics"]}]}
  enabled-marks-field

  ^{:type String
    :contentful/validations [{:in ["foo" "bar"]
                              :message "Should be foo or bar"}
                             {:size {:min 2
                                     :max 5}
                              :message "Should have 2 to 5 characters"}]}
  multiple-validations-field]

 ]
