[^:contentful/tag
 default

 ^{:doc "Reference documentation"
   :contentful/display-name "Reference Entity"}
 Reference
 [^{:type String
    :doc "Field documentation"
    :contentful/display-name "My Short Text Field"
    :contentful/display-field true}
  short-text-field

  ^{:type String}
  default-name-short-text-field

  ^{:type String
    :cardinality [0 n]}
  many-short-texts-field
  
  ^{:type String
    :contentful/widget-id "markdown"}
  short-text-widget-field

  ^{:contentful/type "Text"}
  long-text-field

  ^{:type AUnion}
  a-single-union

  ^{:type AUnion
    :cardinality [0 n]}
  many-unions]

 OtherEntity
 [^DateTime
  a-date-time]

 StillAnotherEntity
 [^{:type Reference}
  a-single-reference

  ^{:type Reference
    :cardinality [0 n]}
  many-references]

 ^:union
 AUnion
 [OtherEntity StillAnotherEntity]
 ]
